node_modules
node_modules

# clerk configuration (can include secrets)
/.clerk/

# local environment variables
.env.local

# Next.js build output
.next/
out/

# Python virtualenv
app/venv/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
